body {
  width: 100vw;
  background-image: url('../img/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: bisque;
  font-size: 25px;
}

section {
  width: 100%;
}

img {
  float:left;
  width: 20%;
  margin: 5%;
}

#picContainer > section {
  margin: auto;
  width: 910px;
  

}